Daily countdown
[
    {
        "id": "253828eb.6fdfc",
        "type": "subflow",
        "name": "Daily Countdown Notification",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 200,
                "wires": [
                    {
                        "id": "a6dd0bf6.3ad69"
                    }
                ]
            }
        ],
        "out": []
    },
    {
        "id": "982653da.7ec9",
        "type": "delay",
        "z": "253828eb.6fdfc",
        "name": "Wait 24 hours",
        "pauseType": "delay",
        "timeout": "24",
        "timeoutUnits": "hours",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 920,
        "y": 500,
        "wires": [
            [
                "fe02d213.531548"
            ]
        ]
    },
    {
        "id": "a6dd0bf6.3ad69",
        "type": "change",
        "z": "253828eb.6fdfc",
        "name": "Set days till event",
        "rules": [
            {
                "t": "set",
                "p": "repetitions",
                "pt": "msg",
                "to": "$number(payload)+1",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 210,
        "y": 200,
        "wires": [
            [
                "fe02d213.531548"
            ]
        ]
    },
    {
        "id": "8ef1c605.af0ff8",
        "type": "api-call-service",
        "z": "253828eb.6fdfc",
        "name": "Notify days left",
        "server": "97e9c7fb.3748b8",
        "service_domain": "media_player",
        "service": "alexa_tts",
        "data": "",
        "render_data": true,
        "mergecontext": "",
        "output_location": "notification_sent",
        "output_location_type": "msg",
        "x": 1220,
        "y": 240,
        "wires": [
            [
                "982653da.7ec9"
            ]
        ]
    },
    {
        "id": "15b3bdf3.313ac2",
        "type": "template",
        "z": "253828eb.6fdfc",
        "name": "More then 1 day left",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"data\": {\n        \"message\": \"{{_loopController.remaining}} days left till {{notification.daily_notif}}\",\n        \"entity_id\": \"{{notification.entity_id}}\"\n    }\n}",
        "output": "json",
        "x": 960,
        "y": 300,
        "wires": [
            [
                "8ef1c605.af0ff8"
            ]
        ]
    },
    {
        "id": "76298b6c.999504",
        "type": "template",
        "z": "253828eb.6fdfc",
        "name": "Today is the day",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"data\": {\n        \"message\": \"{{notification.big_day}}\",\n        \"entity_id\": \"{{notification.entity_id}}\"\n    }\n}",
        "output": "json",
        "x": 940,
        "y": 100,
        "wires": [
            [
                "8b1bce29.3634b8"
            ]
        ]
    },
    {
        "id": "8b1bce29.3634b8",
        "type": "api-call-service",
        "z": "253828eb.6fdfc",
        "name": "BIG DAY",
        "server": "97e9c7fb.3748b8",
        "service_domain": "media_player",
        "service": "alexa_tts",
        "data": "",
        "render_data": true,
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 1220,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "fe02d213.531548",
        "type": "repeat",
        "z": "253828eb.6fdfc",
        "name": "Repeat x number of times",
        "repetitions": "10",
        "elseOutput": false,
        "outputs": 1,
        "x": 470,
        "y": 200,
        "wires": [
            [
                "3a79ec6f.e489fc"
            ]
        ]
    },
    {
        "id": "3a79ec6f.e489fc",
        "type": "switch",
        "z": "253828eb.6fdfc",
        "name": "Number of days left",
        "property": "_loopController.remaining",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 730,
        "y": 200,
        "wires": [
            [
                "76298b6c.999504"
            ],
            [
                "e785d12b.f26a78"
            ],
            [
                "15b3bdf3.313ac2"
            ]
        ]
    },
    {
        "id": "e785d12b.f26a78",
        "type": "template",
        "z": "253828eb.6fdfc",
        "name": "Tomorrow",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"data\": {\n        \"message\": \"Tomorrow is {{notification.daily_notif}}\",\n        \"entity_id\": \"{{notification.entity_id}}\"\n    }\n}",
        "output": "json",
        "x": 940,
        "y": 200,
        "wires": [
            [
                "8ef1c605.af0ff8"
            ]
        ]
    },
    {
        "id": "97e9c7fb.3748b8",
        "type": "server",
        "z": "",
        "name": "Home Assistant",
        "legacy": false,
        "hassio": false,
        "rejectUnauthorizedCerts": false,
        "ha_boolean": "y|yes|true|on|home|open"
    },
    {
        "id": "147f785d.4ee4a",
        "type": "bigtimer",
        "z": "c8daf6c6.202de",
        "outtopic": "",
        "outpayload1": "10",
        "outpayload2": "",
        "name": "Halloween",
        "comment": "",
        "lat": "0",
        "lon": "0",
        "starttime": "540",
        "endtime": "540",
        "starttime2": 0,
        "endtime2": 0,
        "startoff": 0,
        "endoff": 0,
        "offs": 0,
        "outtext1": "",
        "outtext2": "OFF",
        "timeout": "1440",
        "sun": false,
        "mon": false,
        "tue": false,
        "wed": false,
        "thu": false,
        "fri": false,
        "sat": false,
        "jan": false,
        "feb": false,
        "mar": false,
        "apr": false,
        "may": false,
        "jun": false,
        "jul": false,
        "aug": false,
        "sep": false,
        "oct": false,
        "nov": false,
        "dec": false,
        "day1": "21",
        "month1": "10",
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "day6": 0,
        "month6": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "d6": 0,
        "w6": 0,
        "xday1": 0,
        "xmonth1": 0,
        "xday2": 0,
        "xmonth2": 0,
        "xday3": 0,
        "xmonth3": 0,
        "xday4": 0,
        "xmonth4": 0,
        "xday5": 0,
        "xmonth5": 0,
        "xday6": 0,
        "xmonth6": 0,
        "xd1": 0,
        "xw1": 0,
        "xd2": 0,
        "xw2": 0,
        "xd3": 0,
        "xw3": 0,
        "xd4": 0,
        "xw4": 0,
        "xd5": 0,
        "xw5": 0,
        "xd6": 0,
        "xw6": 0,
        "suspend": false,
        "random": false,
        "repeat": false,
        "atstart": false,
        "odd": false,
        "even": false,
        "x": 130,
        "y": 140,
        "wires": [
            [
                "95c438c4.5eefe"
            ],
            [],
            []
        ]
    },
    {
        "id": "95c438c4.5eefe",
        "type": "change",
        "z": "c8daf6c6.202de",
        "name": "Set notification",
        "rules": [
            {
                "t": "set",
                "p": "notification",
                "pt": "msg",
                "to": "{\"daily_notif\":\"Halloween\",\"big_day\":\"Scary Halloween!\",\"entity_id\":\"group.alexa_general_announce\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 140,
        "wires": [
            [
                "49eb2516.50337c"
            ]
        ]
    },
    {
        "id": "49eb2516.50337c",
        "type": "subflow:253828eb.6fdfc",
        "z": "c8daf6c6.202de",
        "x": 600,
        "y": 140,
        "wires": []
    },
    {
        "id": "6a90d4fb.685f9c",
        "type": "change",
        "z": "c8daf6c6.202de",
        "name": "Set notification",
        "rules": [
            {
                "t": "set",
                "p": "notification",
                "pt": "msg",
                "to": "{\"daily_notif\":\"4th of July\",\"big_day\":\"Happy Fourth of July\",\"entity_id\":\"group.alexa_general_announce\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 140,
        "wires": [
            [
                "defdf2ea.7a98"
            ]
        ]
    },
    {
        "id": "b78698cc.bbc85",
        "type": "bigtimer",
        "z": "c8daf6c6.202de",
        "outtopic": "",
        "outpayload1": "1",
        "outpayload2": "",
        "name": "4th of July",
        "comment": "",
        "lat": "0",
        "lon": "0",
        "starttime": "915",
        "endtime": "930",
        "starttime2": 0,
        "endtime2": 0,
        "startoff": 0,
        "endoff": 0,
        "offs": 0,
        "outtext1": "",
        "outtext2": "OFF",
        "timeout": "1440",
        "sun": false,
        "mon": false,
        "tue": false,
        "wed": false,
        "thu": false,
        "fri": false,
        "sat": false,
        "jan": false,
        "feb": false,
        "mar": false,
        "apr": false,
        "may": false,
        "jun": false,
        "jul": false,
        "aug": false,
        "sep": false,
        "oct": false,
        "nov": false,
        "dec": false,
        "day1": "30",
        "month1": "6",
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "day6": 0,
        "month6": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "d6": 0,
        "w6": 0,
        "xday1": 0,
        "xmonth1": 0,
        "xday2": 0,
        "xmonth2": 0,
        "xday3": 0,
        "xmonth3": 0,
        "xday4": 0,
        "xmonth4": 0,
        "xday5": 0,
        "xmonth5": 0,
        "xday6": 0,
        "xmonth6": 0,
        "xd1": 0,
        "xw1": 0,
        "xd2": 0,
        "xw2": 0,
        "xd3": 0,
        "xw3": 0,
        "xd4": 0,
        "xw4": 0,
        "xd5": 0,
        "xw5": 0,
        "xd6": 0,
        "xw6": 0,
        "suspend": false,
        "random": false,
        "repeat": false,
        "atstart": false,
        "odd": false,
        "even": false,
        "x": 870,
        "y": 140,
        "wires": [
            [
                "6a90d4fb.685f9c"
            ],
            [],
            []
        ]
    },
    {
        "id": "defdf2ea.7a98",
        "type": "subflow:253828eb.6fdfc",
        "z": "c8daf6c6.202de",
        "x": 1340,
        "y": 140,
        "wires": []
    },
    {
        "id": "55b6eaa0.64f974",
        "type": "change",
        "z": "c8daf6c6.202de",
        "name": "Set notification",
        "rules": [
            {
                "t": "set",
                "p": "notification",
                "pt": "msg",
                "to": "{\"daily_notif\":\"the weekend\",\"big_day\":\"Weekend!\",\"entity_id\":\"group.alexa_general_announce\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 60,
        "wires": [
            [
                "f539960b.6f6d98"
            ]
        ]
    },
    {
        "id": "fc7bb7df.0403",
        "type": "bigtimer",
        "z": "c8daf6c6.202de",
        "outtopic": "",
        "outpayload1": "5",
        "outpayload2": "",
        "name": "Days till weekend",
        "comment": "",
        "lat": "0",
        "lon": "0",
        "starttime": "480",
        "endtime": "480",
        "starttime2": 0,
        "endtime2": 0,
        "startoff": 0,
        "endoff": 0,
        "offs": 0,
        "outtext1": "",
        "outtext2": "OFF",
        "timeout": "1440",
        "sun": false,
        "mon": true,
        "tue": false,
        "wed": false,
        "thu": false,
        "fri": false,
        "sat": false,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": "",
        "month1": "",
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "day6": 0,
        "month6": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "d6": 0,
        "w6": 0,
        "xday1": 0,
        "xmonth1": 0,
        "xday2": 0,
        "xmonth2": 0,
        "xday3": 0,
        "xmonth3": 0,
        "xday4": 0,
        "xmonth4": 0,
        "xday5": 0,
        "xmonth5": 0,
        "xday6": 0,
        "xmonth6": 0,
        "xd1": 0,
        "xw1": 0,
        "xd2": 0,
        "xw2": 0,
        "xd3": 0,
        "xw3": 0,
        "xd4": 0,
        "xw4": 0,
        "xd5": 0,
        "xw5": 0,
        "xd6": 0,
        "xw6": 0,
        "suspend": false,
        "random": false,
        "repeat": false,
        "atstart": false,
        "odd": false,
        "even": false,
        "x": 150,
        "y": 60,
        "wires": [
            [
                "55b6eaa0.64f974"
            ],
            [],
            []
        ]
    },
    {
        "id": "f539960b.6f6d98",
        "type": "subflow:253828eb.6fdfc",
        "z": "c8daf6c6.202de",
        "x": 640,
        "y": 60,
        "wires": []
    },
    {
        "id": "d74e614b.941ab",
        "type": "bigtimer",
        "z": "c8daf6c6.202de",
        "outtopic": "",
        "outpayload1": "10",
        "outpayload2": "",
        "name": "Christmas",
        "comment": "",
        "lat": "0",
        "lon": "0",
        "starttime": "540",
        "endtime": "540",
        "starttime2": 0,
        "endtime2": 0,
        "startoff": 0,
        "endoff": 0,
        "offs": 0,
        "outtext1": "",
        "outtext2": "OFF",
        "timeout": "1440",
        "sun": false,
        "mon": false,
        "tue": false,
        "wed": false,
        "thu": false,
        "fri": false,
        "sat": false,
        "jan": false,
        "feb": false,
        "mar": false,
        "apr": false,
        "may": false,
        "jun": false,
        "jul": false,
        "aug": false,
        "sep": false,
        "oct": false,
        "nov": false,
        "dec": false,
        "day1": "15",
        "month1": "12",
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "day6": 0,
        "month6": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "d6": 0,
        "w6": 0,
        "xday1": 0,
        "xmonth1": 0,
        "xday2": 0,
        "xmonth2": 0,
        "xday3": 0,
        "xmonth3": 0,
        "xday4": 0,
        "xmonth4": 0,
        "xday5": 0,
        "xmonth5": 0,
        "xday6": 0,
        "xmonth6": 0,
        "xd1": 0,
        "xw1": 0,
        "xd2": 0,
        "xw2": 0,
        "xd3": 0,
        "xw3": 0,
        "xd4": 0,
        "xw4": 0,
        "xd5": 0,
        "xw5": 0,
        "xd6": 0,
        "xw6": 0,
        "suspend": false,
        "random": false,
        "repeat": false,
        "atstart": false,
        "odd": false,
        "even": false,
        "x": 130,
        "y": 240,
        "wires": [
            [
                "a028b891.e68ba8"
            ],
            [],
            []
        ]
    },
    {
        "id": "a028b891.e68ba8",
        "type": "change",
        "z": "c8daf6c6.202de",
        "name": "Set notification",
        "rules": [
            {
                "t": "set",
                "p": "notification",
                "pt": "msg",
                "to": "{\"daily_notif\":\"Christmas\",\"big_day\":\"Merry Christmas!\",\"entity_id\":\"group.alexa_general_announce\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 240,
        "wires": [
            [
                "2ff1c944.cd09be"
            ]
        ]
    },
    {
        "id": "2ff1c944.cd09be",
        "type": "subflow:253828eb.6fdfc",
        "z": "c8daf6c6.202de",
        "x": 600,
        "y": 240,
        "wires": []
    },
    {
        "id": "8804a27e.867a2",
        "type": "bigtimer",
        "z": "c8daf6c6.202de",
        "outtopic": "",
        "outpayload1": "1",
        "outpayload2": "",
        "name": "New Year",
        "comment": "",
        "lat": "0",
        "lon": "0",
        "starttime": "0",
        "endtime": "0",
        "starttime2": 0,
        "endtime2": 0,
        "startoff": 0,
        "endoff": 0,
        "offs": 0,
        "outtext1": "",
        "outtext2": "OFF",
        "timeout": "1440",
        "sun": false,
        "mon": false,
        "tue": false,
        "wed": false,
        "thu": false,
        "fri": false,
        "sat": false,
        "jan": false,
        "feb": false,
        "mar": false,
        "apr": false,
        "may": false,
        "jun": false,
        "jul": false,
        "aug": false,
        "sep": false,
        "oct": false,
        "nov": false,
        "dec": false,
        "day1": "1",
        "month1": "31",
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "day6": 0,
        "month6": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "d6": 0,
        "w6": 0,
        "xday1": 0,
        "xmonth1": 0,
        "xday2": 0,
        "xmonth2": 0,
        "xday3": 0,
        "xmonth3": 0,
        "xday4": 0,
        "xmonth4": 0,
        "xday5": 0,
        "xmonth5": 0,
        "xday6": 0,
        "xmonth6": 0,
        "xd1": 0,
        "xw1": 0,
        "xd2": 0,
        "xw2": 0,
        "xd3": 0,
        "xw3": 0,
        "xd4": 0,
        "xw4": 0,
        "xd5": 0,
        "xw5": 0,
        "xd6": 0,
        "xw6": 0,
        "suspend": false,
        "random": false,
        "repeat": false,
        "atstart": false,
        "odd": false,
        "even": false,
        "x": 840,
        "y": 240,
        "wires": [
            [
                "3f13bb65.197aac"
            ],
            [],
            []
        ]
    },
    {
        "id": "3f13bb65.197aac",
        "type": "change",
        "z": "c8daf6c6.202de",
        "name": "Set notification",
        "rules": [
            {
                "t": "set",
                "p": "notification",
                "pt": "msg",
                "to": "{\"daily_notif\":\"New Year\",\"big_day\":\"Happy New Year!\",\"entity_id\":\"group.alexa_general_announce\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 240,
        "wires": [
            [
                "a753874e.cd378"
            ]
        ]
    },
    {
        "id": "a753874e.cd378",
        "type": "subflow:253828eb.6fdfc",
        "z": "c8daf6c6.202de",
        "x": 1320,
        "y": 240,
        "wires": []
    }
]
