Daily countdown
[
    {
        "id": "253828eb.6fdfc",
        "type": "subflow",
        "name": "Daily Countdown Notification",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "a6dd0bf6.3ad69"
                    }
                ]
            }
        ],
        "out": []
    },
    {
        "id": "79afc3fb.7f51ec",
        "type": "debug",
        "z": "253828eb.6fdfc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 630,
        "y": 420,
        "wires": []
    },
    {
        "id": "1d5c64b1.0a4cfb",
        "type": "change",
        "z": "253828eb.6fdfc",
        "name": "Subtract 1 day",
        "rules": [
            {
                "t": "set",
                "p": "days_counter",
                "pt": "msg",
                "to": "msg.days_counter-1",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 120,
        "wires": [
            [
                "b4d7bdd9.5bd19"
            ]
        ]
    },
    {
        "id": "b4d7bdd9.5bd19",
        "type": "switch",
        "z": "253828eb.6fdfc",
        "name": "Is this the big day?",
        "property": "days_counter",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1090,
        "y": 220,
        "wires": [
            [
                "76298b6c.999504"
            ],
            [
                "15b3bdf3.313ac2"
            ]
        ]
    },
    {
        "id": "982653da.7ec9",
        "type": "delay",
        "z": "253828eb.6fdfc",
        "name": "Wait 24 hours",
        "pauseType": "delay",
        "timeout": "24",
        "timeoutUnits": "hours",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 880,
        "y": 80,
        "wires": [
            [
                "1d5c64b1.0a4cfb"
            ]
        ]
    },
    {
        "id": "a6dd0bf6.3ad69",
        "type": "change",
        "z": "253828eb.6fdfc",
        "name": "Set days till event",
        "rules": [
            {
                "t": "set",
                "p": "days_counter",
                "pt": "msg",
                "to": "$number(payload)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 230,
        "y": 80,
        "wires": [
            [
                "15b3bdf3.313ac2"
            ]
        ]
    },
    {
        "id": "8ef1c605.af0ff8",
        "type": "api-call-service",
        "z": "253828eb.6fdfc",
        "name": "Notify days left",
        "server": "97e9c7fb.3748b8",
        "service_domain": "media_player",
        "service": "alexa_tts",
        "data": "{\"entity_id\":\"alexa_general_announce\"}",
        "render_data": true,
        "mergecontext": "",
        "output_location": "notification_sent",
        "output_location_type": "msg",
        "x": 660,
        "y": 280,
        "wires": [
            [
                "982653da.7ec9",
                "79afc3fb.7f51ec"
            ]
        ]
    },
    {
        "id": "15b3bdf3.313ac2",
        "type": "template",
        "z": "253828eb.6fdfc",
        "name": "Set payload.data",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"data\": {\n        \"message\": \"{{days_counter}} days left till {{notification.daily_notif}}\",\n        \"entity_id\": \"{{notification.entity_id}}\"\n    }\n}",
        "output": "json",
        "x": 450,
        "y": 100,
        "wires": [
            [
                "8ef1c605.af0ff8"
            ]
        ]
    },
    {
        "id": "76298b6c.999504",
        "type": "template",
        "z": "253828eb.6fdfc",
        "name": "Set payload.data",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"data\": {\n        \"message\": \"{{notification.big_day}}\",\n        \"entity_id\": \"{{notification.entity_id}}\"\n    }\n}",
        "output": "json",
        "x": 1450,
        "y": 220,
        "wires": [
            [
                "8b1bce29.3634b8"
            ]
        ]
    },
    {
        "id": "8b1bce29.3634b8",
        "type": "api-call-service",
        "z": "253828eb.6fdfc",
        "name": "BIG DAY",
        "server": "97e9c7fb.3748b8",
        "service_domain": "media_player",
        "service": "alexa_tts",
        "data": "",
        "render_data": true,
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 1540,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "97e9c7fb.3748b8",
        "type": "server",
        "z": "",
        "name": "Home Assistant",
        "legacy": false,
        "hassio": false,
        "rejectUnauthorizedCerts": false,
        "ha_boolean": "y|yes|true|on|home|open"
    },
    {
        "id": "c8daf6c6.202de",
        "type": "tab",
        "label": "Counting days down announcements",
        "disabled": false,
        "info": ""
    },
    {
        "id": "147f785d.4ee4a",
        "type": "bigtimer",
        "z": "c8daf6c6.202de",
        "outtopic": "",
        "outpayload1": "10",
        "outpayload2": "",
        "name": "Halloween",
        "comment": "",
        "lat": "0",
        "lon": "0",
        "starttime": "540",
        "endtime": "540",
        "starttime2": 0,
        "endtime2": 0,
        "startoff": 0,
        "endoff": 0,
        "offs": 0,
        "outtext1": "",
        "outtext2": "OFF",
        "timeout": "1440",
        "sun": false,
        "mon": false,
        "tue": false,
        "wed": false,
        "thu": false,
        "fri": false,
        "sat": false,
        "jan": false,
        "feb": false,
        "mar": false,
        "apr": false,
        "may": false,
        "jun": false,
        "jul": false,
        "aug": false,
        "sep": false,
        "oct": false,
        "nov": false,
        "dec": false,
        "day1": "21",
        "month1": "10",
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "day6": 0,
        "month6": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "d6": 0,
        "w6": 0,
        "xday1": 0,
        "xmonth1": 0,
        "xday2": 0,
        "xmonth2": 0,
        "xday3": 0,
        "xmonth3": 0,
        "xday4": 0,
        "xmonth4": 0,
        "xday5": 0,
        "xmonth5": 0,
        "xday6": 0,
        "xmonth6": 0,
        "xd1": 0,
        "xw1": 0,
        "xd2": 0,
        "xw2": 0,
        "xd3": 0,
        "xw3": 0,
        "xd4": 0,
        "xw4": 0,
        "xd5": 0,
        "xw5": 0,
        "xd6": 0,
        "xw6": 0,
        "suspend": false,
        "random": false,
        "repeat": false,
        "atstart": false,
        "odd": false,
        "even": false,
        "x": 130,
        "y": 100,
        "wires": [
            [
                "95c438c4.5eefe"
            ],
            [],
            []
        ]
    },
    {
        "id": "95c438c4.5eefe",
        "type": "change",
        "z": "c8daf6c6.202de",
        "name": "Set notification",
        "rules": [
            {
                "t": "set",
                "p": "notification",
                "pt": "msg",
                "to": "{\"daily_notif\":\"Halloween\",\"big_day\":\"Scary Halloween!\",\"entity_id\":\"group.alexa_general_announce\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 100,
        "wires": [
            [
                "49eb2516.50337c"
            ]
        ]
    },
    {
        "id": "49eb2516.50337c",
        "type": "subflow:253828eb.6fdfc",
        "z": "c8daf6c6.202de",
        "x": 600,
        "y": 100,
        "wires": []
    },
    {
        "id": "6a90d4fb.685f9c",
        "type": "change",
        "z": "c8daf6c6.202de",
        "name": "Set notification",
        "rules": [
            {
                "t": "set",
                "p": "notification",
                "pt": "msg",
                "to": "{\"daily_notif\":\"4th of July\",\"big_day\":\"Happy Fourth of July\",\"entity_id\":\"group.alexa_general_announce\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 220,
        "wires": [
            [
                "defdf2ea.7a98"
            ]
        ]
    },
    {
        "id": "b78698cc.bbc85",
        "type": "bigtimer",
        "z": "c8daf6c6.202de",
        "outtopic": "",
        "outpayload1": "1",
        "outpayload2": "",
        "name": "4th of July",
        "comment": "",
        "lat": "0",
        "lon": "0",
        "starttime": "915",
        "endtime": "930",
        "starttime2": 0,
        "endtime2": 0,
        "startoff": 0,
        "endoff": 0,
        "offs": 0,
        "outtext1": "",
        "outtext2": "OFF",
        "timeout": "1440",
        "sun": false,
        "mon": false,
        "tue": false,
        "wed": false,
        "thu": false,
        "fri": false,
        "sat": false,
        "jan": false,
        "feb": false,
        "mar": false,
        "apr": false,
        "may": false,
        "jun": false,
        "jul": false,
        "aug": false,
        "sep": false,
        "oct": false,
        "nov": false,
        "dec": false,
        "day1": "30",
        "month1": "6",
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "day6": 0,
        "month6": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "d6": 0,
        "w6": 0,
        "xday1": 0,
        "xmonth1": 0,
        "xday2": 0,
        "xmonth2": 0,
        "xday3": 0,
        "xmonth3": 0,
        "xday4": 0,
        "xmonth4": 0,
        "xday5": 0,
        "xmonth5": 0,
        "xday6": 0,
        "xmonth6": 0,
        "xd1": 0,
        "xw1": 0,
        "xd2": 0,
        "xw2": 0,
        "xd3": 0,
        "xw3": 0,
        "xd4": 0,
        "xw4": 0,
        "xd5": 0,
        "xw5": 0,
        "xd6": 0,
        "xw6": 0,
        "suspend": false,
        "random": false,
        "repeat": false,
        "atstart": false,
        "odd": false,
        "even": false,
        "x": 130,
        "y": 220,
        "wires": [
            [
                "6a90d4fb.685f9c"
            ],
            [],
            []
        ]
    },
    {
        "id": "defdf2ea.7a98",
        "type": "subflow:253828eb.6fdfc",
        "z": "c8daf6c6.202de",
        "x": 600,
        "y": 220,
        "wires": []
    },
    {
        "id": "55b6eaa0.64f974",
        "type": "change",
        "z": "c8daf6c6.202de",
        "name": "Set notification",
        "rules": [
            {
                "t": "set",
                "p": "notification",
                "pt": "msg",
                "to": "{\"daily_notif\":\"the weekend\",\"big_day\":\"Weekend!\",\"entity_id\":\"group.alexa_general_announce\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 340,
        "wires": [
            [
                "f539960b.6f6d98"
            ]
        ]
    },
    {
        "id": "fc7bb7df.0403",
        "type": "bigtimer",
        "z": "c8daf6c6.202de",
        "outtopic": "",
        "outpayload1": "5",
        "outpayload2": "",
        "name": "Days till weekend",
        "comment": "",
        "lat": "0",
        "lon": "0",
        "starttime": "480",
        "endtime": "480",
        "starttime2": 0,
        "endtime2": 0,
        "startoff": 0,
        "endoff": 0,
        "offs": 0,
        "outtext1": "",
        "outtext2": "OFF",
        "timeout": "1440",
        "sun": false,
        "mon": true,
        "tue": false,
        "wed": false,
        "thu": false,
        "fri": false,
        "sat": false,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": "",
        "month1": "",
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "day6": 0,
        "month6": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "d6": 0,
        "w6": 0,
        "xday1": 0,
        "xmonth1": 0,
        "xday2": 0,
        "xmonth2": 0,
        "xday3": 0,
        "xmonth3": 0,
        "xday4": 0,
        "xmonth4": 0,
        "xday5": 0,
        "xmonth5": 0,
        "xday6": 0,
        "xmonth6": 0,
        "xd1": 0,
        "xw1": 0,
        "xd2": 0,
        "xw2": 0,
        "xd3": 0,
        "xw3": 0,
        "xd4": 0,
        "xw4": 0,
        "xd5": 0,
        "xw5": 0,
        "xd6": 0,
        "xw6": 0,
        "suspend": false,
        "random": false,
        "repeat": false,
        "atstart": false,
        "odd": false,
        "even": false,
        "x": 150,
        "y": 340,
        "wires": [
            [
                "55b6eaa0.64f974"
            ],
            [],
            []
        ]
    },
    {
        "id": "f539960b.6f6d98",
        "type": "subflow:253828eb.6fdfc",
        "z": "c8daf6c6.202de",
        "x": 640,
        "y": 340,
        "wires": []
    },
    {
        "id": "78701271.e3e0ac",
        "type": "inject",
        "z": "c8daf6c6.202de",
        "name": "One day",
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 420,
        "wires": [
            [
                "b5760a3b.d24bf8"
            ]
        ]
    },
    {
        "id": "a3814a13.6729d",
        "type": "subflow:253828eb.6fdfc",
        "z": "c8daf6c6.202de",
        "x": 620,
        "y": 600,
        "wires": []
    },
    {
        "id": "713d6e34.bf3758",
        "type": "template",
        "z": "c8daf6c6.202de",
        "name": "Set notification",
        "field": "notification",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"daily_notif\": \"{{daily_notif}}\",\n    \"big_day\": \"{{big_day}}\",\n    \"entity_id\": \"{{entity_id}}\"\n}",
        "output": "json",
        "x": 340,
        "y": 600,
        "wires": [
            [
                "a3814a13.6729d"
            ]
        ]
    },
    {
        "id": "b5760a3b.d24bf8",
        "type": "change",
        "z": "c8daf6c6.202de",
        "name": "Daily Notification",
        "rules": [
            {
                "t": "set",
                "p": "daily_notif",
                "pt": "msg",
                "to": "Manual Test",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 130,
        "y": 480,
        "wires": [
            [
                "611f6478.a32c44"
            ]
        ]
    },
    {
        "id": "611f6478.a32c44",
        "type": "change",
        "z": "c8daf6c6.202de",
        "name": "Final notification",
        "rules": [
            {
                "t": "set",
                "p": "big_day",
                "pt": "msg",
                "to": "BIG DAY",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 120,
        "y": 540,
        "wires": [
            [
                "eef490a9.7e77c8"
            ]
        ]
    },
    {
        "id": "eef490a9.7e77c8",
        "type": "change",
        "z": "c8daf6c6.202de",
        "name": "Alexa Entity",
        "rules": [
            {
                "t": "set",
                "p": "entity_id",
                "pt": "msg",
                "to": "group.alexa_general_announce",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 110,
        "y": 600,
        "wires": [
            [
                "713d6e34.bf3758"
            ]
        ]
    }
]
